APIKEY = ""

POLYGONSCAN_API_KEY=""
zk_MUMBAI_RPC_URL_QUICKNODE = ""


MUMBAI_RPC_URL_QUICKNODE = ""

SEPOLIA_RPC_URL =

PINATA_API_KEY= ""
PINATA_SECRET_API_KEY= ""
PINATA_JWT= ""


PRIVATE_KEY_DEV = ""

MOOMBEAM_RPC_URL =




MOOMBASE_ALPHA=


